@import url("https://fonts.googleapis.com/css2?family=Babylonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  background-color: rgb(237, 237, 237);
}

.title {
  /* padding: 15px; */
  font-family: "Babylonica", cursive;
  padding: 2rem;
  text-align: center;
  font-size: 2.5rem;
  /* font-weight: bold; */
  /* text-transform: uppercase; */
  /* letter-spacing: 1.5px; */
}

.main {
  display: flex;
  padding: 0rem 7rem;
  /* background-color: rgb(237, 237, 237); */
  gap: 2.5rem;
  margin-bottom: 10rem;
}

/* Left Side */

.left {
  background-color: rgb(255, 255, 255);
  width: 70vw;
  box-shadow: 10px 10px 8px rgb(62, 62, 62);
  border-radius: 0.5rem;
  overflow: hidden;
}

.Hero-Image {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 2rem;
  padding: 0rem 0rem;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.Hero-Image img {
  width: 100%;
  aspect-ratio: 4/3;
  /* height: 25rem; */
}

.content {
  text-align: justify;
  padding: 0 2rem;
  padding-bottom: 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  line-height: 2rem;
}

.content p.first::first-letter {
  font-weight: bold;
  font-size: 2rem;
  color: blueviolet;
}

.content p {
  margin-bottom: 1rem;
}

/* Right Side */

.right {
  background-color: white;
  width: 30vw;
  box-shadow: 10px 10px 12px rgb(62, 62, 62);
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* border-radius: 1rem; */
  position: sticky;
  top: 1rem;
  border-radius: 0.5rem;
}

.about {
  padding: 0.5rem 2rem;
  padding-bottom: 3rem;
}

.about-me {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  position: relative;
  z-index: 0;
}

.about-me::before {
  content: "";
  display: block;
  height: 0.5px;
  width: 100%;
  background-color: blueviolet;
  position: relative;
  top: 12px;
  z-index: -10;
}

.about-me h2 {
  width: fit-content;
  margin: 0 auto;
  font-size: 1rem;
  background-color: white;
  z-index: 100;
  padding: 0 1rem;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.1rem;
}

.img__container {
  width: 6rem;
  margin: 1rem auto;
}

.img__container img {
  width: 100%;
}

.info {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  padding: 1rem 1rem;
  text-align: center;
  line-height: 2.3rem;
}

.info a {
  font-size: 1.5rem;
  color: blueviolet;
  font-weight: bold;
}

footer {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  height: 8rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer-socials {
  display: flex;
  list-style: none;
  gap: 4rem;
}

.footer-socials li a {
  display: block;
  height: 100%;
  width: 100%;
}

.footer-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.541);
}

@media (max-width: 1260px) {
  .main {
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    padding: 0;
  }

  .title {
    font-size: 2.5rem;
    padding: 2rem 1rem;
  }

  .left {
    width: 90vw;
    padding-bottom: 2rem;
  }

  .content {
    padding: 2rem;
  }

  .right {
    width: 90vw;
    padding: 2rem;
    position: static;
  }

  .about {
    padding: 0;
  }

  .about-me {
    padding: 1rem 0;
  }

  .info {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 1.5rem;
    padding: 2rem 0;
  }

  .left,
  .right {
    width: 100vw;
  }

  .content {
    text-align: left;
    font-size: 15px;
    padding: 1rem;
  }
}
